<h1>
  @if (action === 'add') { Přidání položky do tabulky }
  @else if (action === 'edit') { Editace položky v tabulce }
  @else if (action === 'remove') { Smazání položky v tabulce }
  @else { Náhled položky v tabulce }
  <i>{{ schema?.comment?.length ? schema?.comment : tableName }}</i>
</h1>

@if (!formLoaded) {
  <p>Loading&hellip;</p>
} @else {
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    @for (column of schema?.columns; track column) {
      @if (isSystemColumn(column)) {
        <input formControlName="{{ column.name }}" type="hidden" />
      } @else {
        <label>{{ column?.comment?.length ? column?.comment : column.name }}</label>
        <div>
          @if (column.name === 'password') {
            <input formControlName="{{ column.name }}" type="password" [required]="!column.null" />
          } @else if (column.foreign_key) {
            <select formControlName="{{ column.name }}" [required]="!column.null">
              <option *ngFor="let option of foreignKeyData[column.name]" [value]="option.id">{{ option.name }}</option>
            </select>
          } @else if (column.type === 'string') {
            <input formControlName="{{ column.name }}" type="text" [required]="!column.null" />
          } @else if (column.type === 'number') {
            <input formControlName="{{ column.name }}" type="number" [required]="!column.null" />
          } @else if (column.type === 'date') {
            <input formControlName="{{ column.name }}" type="date" [required]="!column.null" />
          } @else if (column.type === 'datetime') {
            <input formControlName="{{ column.name }}" type="datetime-local" [required]="!column.null" />
          } @else if (column.type === 'boolean') {
            <input formControlName="{{ column.name }}" type="checkbox" />
          } @else if (column.type === 'text') {
            <textarea formControlName="{{ column.name }}" [required]="!column.null"></textarea>
          } @else if (column.type === 'enum') {
            <select formControlName="{{ column.name }}" [required]="!column.null">
              @for (option of column.options; track option) {
                <option [value]="option">{{ option }}</option>
              }
            </select>
          }
        </div>

        <!-- Chybové hlášení -->
        <div *ngIf="editForm.get(column.name)?.invalid && editForm.get(column.name)?.touched" class="error">
          <small>
            @if (!column.null && editForm.get(column.name)?.errors?.['required']) {
              {{ column?.comment?.length ? column?.comment : column.name }} je povinný.
            }
            @if (editForm.get(column.name)?.errors?.['email']) {
              Zadejte platný email.
            }
            @if (editForm.get(column.name)?.errors?.['min']) {
              Hodnota musí být větší než {{ editForm.get(column.name)?.errors?.['min'].min }}.
            }
            @if (editForm.get(column.name)?.errors?.['max']) {
              Hodnota musí být menší než {{ editForm.get(column.name)?.errors?.['max'].max }}.
            }
          </small>
        </div>
      }
    }

    @if (action == 'add' || action == 'edit') {
      <button type="submit">Uložit</button>
    }
    @if (action == 'remove') {
      <button (click)="deleteItem()" class="remove">Potvrdit smazání</button>
    }
  </form>
}

@if (action == 'add') {
  <a routerLink="/{{ this.tableName }}">
    <button>Zpět na seznam</button>
  </a>
}

@if (recordId) {
  @if (action == 'view' || !action) {
    <a routerLink="/{{ this.tableName }}">
      <button>Zpět na seznam</button>
    </a>

    <button (click)="setAction('edit')">Upravit</button>
    <button (click)="setAction('remove')">Smazat</button>
  }

  @if (action == 'edit') {
    <button (click)="setAction('view')">Zrušit</button>
  }

  @if (action == 'remove') {
    <button (click)="setAction('view')">Zrušit</button>
  }

  <p>
    <small>Záznam vytvořen {{ itemData.created_at }}</small>
    @if (itemData.updated_at) {
      <small>, naposled upraven {{ itemData.updated_at }}</small>
    }.
  </p>
}
