form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

input, textarea {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 22px);
}

label {
  font-weight: bolder;
}

textarea {
  min-height: 4em;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: #0056b3;
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  &:not(:first-child) {
    margin-left: 5px;
  }

  &.remove {
    background-color: #dc3545;

    &:hover {
      background-color: #c82333;
    }
  }
}

