<h1>{{ schema?.comment?.length ? schema?.comment : this.tableName }}</h1>

<div>
  <input type="text" [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange()" placeholder="Search..." />
</div>

@if (data.length > 0) {
<table>
  <thead>
    <tr>
      @for (column of schema?.columns; track column) {
        @if (!isSystemColumn(column)) {
        <th>
          {{ column?.comment?.length ? column?.comment : column.name }}
        </th>
        }
      }
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (item of data; track item) {
    <tr>
      @for (column of schema?.columns; track column) {
        @if (!isSystemColumn(column)) {
          <td>
            @if (column.foreign_key && this.foreignKeyData[column.name]) {
              <!-- Pokud je sloupec cizí klíč, zobrazíme name místo id -->
              {{ getForeignKeyName(column.name, item[column.name]) }}
            } @else {
              <!-- Jinak zobrazíme původní hodnotu -->
              {{ item[column.name] }}
            }
          </td>
        }
      }
      <td>
        <a routerLink="/{{ this.tableName }}/{{ item.id }}">
          <button>Zobrazit</button>
        </a>
        <a routerLink="/{{ this.tableName }}/{{ item.id }}/edit">
          <button>Upravit</button>
        </a>
        <a routerLink="/{{ this.tableName }}/{{ item.id }}/remove">
          <button>Smazat</button>
        </a>
      </td>
    </tr>
    }
  </tbody>
</table>

<a routerLink="/{{ this.tableName }}/add">
  <button>Přidat</button>
</a>

} @else {
<p>No data available</p>
}
