<div class="login-container">
  <h2>Přihlášení</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" required />
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        Invalid email
      </div>
    </div>

    <div>
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password" required />
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        Password is required
      </div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>

  <p><small>Nemáte účet? Zkuste se <a routerLink="/register">zaregistrovat</a></small></p>
</div>
