<div class="category-item">
  <div class="category-content">
    <span (click)="onCategoryClick()">{{ category.name }}</span>
    <div class="category-actions">
      <button (click)="editCategory()" title="Editovat" class="btn icon edit">✏️</button>
      <button (click)="deleteCategory()" title="Smazat" class="btn icon delete">❌</button>
      <button (click)="addSubcategory()" title="Přidat podkategorii" class="btn icon add">➕</button>
      <button (click)="moveCategory()" title="Přesunout" class="btn icon move">🔄</button>
      <button (click)="moveUp()" title="Posunout nahoru" class="btn icon up">⬆️</button>
      <button (click)="moveDown()" title="Posunout dolů" class="btn icon down">⬇️</button>
    </div>
  </div>
  <ul>
    @for (child of category.children; track child) {
      <li>
        <app-category-node
          [category]="child"
          [parent]="category"
          [index]="category.children.indexOf(child)"
          (onEdit)="onEdit.emit($event)"
          (onDelete)="onDelete.emit($event)"
          (onAdd)="onAdd.emit($event)"
          (onMove)="onMove.emit($event)"
          (onSwap)="onSwap.emit($event)">
        </app-category-node>
      </li>
    }
  </ul>
</div>
