a[routerLink] {
  padding: 0 0.5rem;
  border-right: 1px solid #ccc;
}

a[routerLink]:not(.active-link),
#logout {
  cursor: pointer;
  color: #007bff;
  text-decoration: none;

  &:hover {
    color: #0056b3;
    text-decoration: underline;
  }

  &:active {
    color: #003d80;
  }
}

