# Application Environment
# Values: local, production
APP_ENV=local

# Database Configuration
DB_HOST=localhost:8997
DB_USERNAME=splk
DB_PASSWORD=splk
DB_NAME=splk

# JWT Secret (change in production!)
JWT_SECRET=my_little_secret

# Logging
LOG_PATH=../../log/api/app.log
LOG_LEVEL=DEBUG
